* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 750px;
}

#button {
  width: 10%;
  margin-right: 6px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
section {
  display: flex;
  padding: 5px;
  width: 100%;
  height: 400px;
  background: yellow;
  justify-content: space-between;
}
